{{! Previous/next page links - only displayed on page 2+ }}
<div class="extra-pagination">
  {{pagination}}
</div>

{{#foreach posts}}
<article class="{{post_class}}">
  <header class="post-header">
    <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
  </header>
  <section class="post-excerpt">
    <p>{{excerpt words="26"}}</p>
    {{!-- {{content}} --}}
  </section>
  <footer class="post-footer" rel="content-info">
    <div class="post-links">
      <a class="read-more p" href="{{url}}">View full post &raquo;</a>
    </div>
    <div class="post-meta">
      Posted
      <time
          class="post-meta-date"
          datetime="{{date format="YYYY-MM-DD"}}">
        {{date format="D MMMM YYYY"}}
      </time>
      by
      <a
          href="{{primary_author.url}}"
          class="post-meta-author"
          rel="author">
        {{primary_author.name}}
      </a>

      {{#if tags}}
        in {{tags}}
      {{/if}}
    </div>
  </footer>
</article>
{{/foreach}}

{{! Previous/next page links - displayed on every page }}
{{pagination}}
