{{! Previous/next page links - only displayed on page 2+ }}
<div class="extra-pagination inner">
  {{pagination}}
</div>

{{#foreach posts}}
<article class="{{post_class}}">
  <header class="post-header">
    <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
  </header>
  <section class="post-excerpt">
    <p>{{excerpt words="26"}} <a class="read-more" href="{{url}}">&raquo;</a></p>
    {{!-- {{content}} --}}
  </section>
  <footer class="post-meta">
    Posted
    <time
        class="post-meta-date"
        datetime="{{date format="YYYY-MM-DD"}}">
      {{date format="D MMMM YYYY"}}
    </time>
    by
    <a
        href="{{primary_author.url}}"
        class="post-meta-author"
        rel="author">
      {{primary_author.name}}
    </a>

    {{!-- <ul class="author-list">
      {{#foreach authors}}

      <div class="author-name-tooltip">

        {{#if profile_image}}
        <a href="{{url}}" class="static-avatar">
          <img class="author-profile-image" src="{{profile_image}}" alt="{{name}}">{{name}}
        </a>
        {{else}}
        <a href="{{url}}" class="static-avatar author-profile-image">{{> "icons/avatar"}}{{name}}</a>
        {{/if}}

      </div>

      {{/foreach}}
    </ul>

    <span class="reading-time">{{reading_time}}</span> --}}
  </footer>
</article>
{{/foreach}}

{{! Previous/next page links - displayed on every page }}
{{pagination}}
