<!DOCTYPE html>
<html lang="{{lang}}">

<head>

  {{!-- Document Settings --}}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {{!-- Base Meta --}}
  <title>{{meta_title}}</title>
  <meta name="HandheldFriendly" content="True">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {{!-- Styles and scripts --}}
  <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}">
  <link rel="stylesheet" type="text/css" href="{{asset "css/prism.css"}}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  {{!-- This tag outputs SEO meta+structured data and other important settings --}}
  {{ghost_head}}

</head>

<body class="{{body_class}}">

  <div class="site-wrapper">

    {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
    {{{body}}}

    <footer class="site-footer outer">
      <div class="site-footer-content inner">
        <section class="copyright">
          <a href="{{@site.url}}">{{@site.title}}</a> &copy; {{date format="YYYY"}}
        </section>
        <nav class="site-footer-nav">
          <a href="{{@site.url}}">Latest Posts</a>
          {{#if @site.twitter}}
            <a href="{{twitter_url @site.twitter}}" target="_blank" rel="noopener">Twitter</a>
          {{/if}}
          <a href="https://github.com/tomrijnbeek" target="_blank" rel="noopener">GitHub</a>
        </nav>
      </div>
    </footer>

  </div>

  <script type="text/x-mathjax-config">
    // Allow in-line dollar symbol notation for LaTeX math.
    MathJax.Hub.Config({
      tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
    });
  </script>
  {{!-- <script src="{{asset "js/dist/mathjax/MathJax.js?config=TeX-AMS-MML_CHTML"}}"></script> --}}
  <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>
  <script src="{{asset "js/prism.js"}}"></script>

  {{!-- Ghost outputs important scripts and data with this tag - it should
  always be the very last thing before the closing body tag --}}
  {{ghost_foot}}

</body>

</html>
