{{!< default}}
  <header id="site-header" class="site-header outer">
    <div class="inner with-about-bar">
      <div class="site-header-content">
        <h1 class="site-title">
          {{#if @site.logo}}
            <img class="site-logo"
                src="{{img_url @site.logo size="l"}}"
                alt="{{@site.title}}">
          {{else}}
            {{@site.title}}
          {{/if}}
        </h1>
        <h2 class="site-description">{{@site.description}}</h2>
      </div>
      {{> "site-nav"}}
    </div>
  </header>

  {{!-- The main content area --}}
  <main id="site-main" class="site-main outer" role="main">
    <div class="inner">
      <div class="about-me">
        <img
            src="https://blog.tomrijnbeek.me/content/images/2019/02/828553.jpeg"
            class="about-me-img"
            alt="Profile picture">
        <div class="about-me-name">
          Tom Rijnbeek
        </div>
        <div class="about-me-titles">
          Programmer, game developer, coffee drinker
        </div>
      </div>
      <div class="post-feed">
        {{> "post-loop"}}
      </div>
    </div>
  </main>
